.container {
    border: 3px solid;
    width: 50%;
    text-align: center;
    margin: auto;
    padding: 10px;
    background-color: rgb(117, 185, 168);
    display: block;

}

.labelNameStudent{
    padding: 5px;
   
    
}


.nameStudent, .resultExameOne, .resultExameTwo {
    padding: 5px;
    display: block;
    
}

.btShowMeResult {
    padding: 5px;


}

body {
    background-color: rgb(29, 156, 118);




}