.container {
    border: 3px solid rgb(24, 78, 17);
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 10px;
    background-color: rgb(57, 180, 108);


}

.labelProduct {
    padding: 11px;

}

.labelPrice{
    padding: 7px;

}

.product, .price {
    padding: 5px;

}

.result {
    padding: 30px;


}


body {

    background-color: rgb(144, 184, 144);


}