.container {
    margin: auto;
    width: 800px;
    height: 500px;
    
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
       
  

}

.container1{
    display: flex;
    height: 300px;
    width: 300px;
   
    justify-content: center;
    border-radius: 20px;
    align-items: center;

}



.container2 {
    display: block;
    height: 300px;
    width: 300px;
    border: 1px solid;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(192, 191, 191);
    
    


}