img {float: inline-end; height: 300px; width: 450px;}
h1 {border-bottom-style: inset;}


body {

    background-color: rgb(217, 228, 225);


}

.imgBalança {
    text-align: center;
    
}

.container {
    border: 1px solid;
    width: 40%;
    text-align: center;
    margin: auto;
    padding: 10px;
    background-color: rgb(217, 228, 225);
    display: block;

}

.result {

    padding: 20px;



}